 <!-- ======= Appointment Section ======= -->
 {% extends 'homepage/base.html' %}
 {% block content %}
 <style>

input[type=email], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid rgb(8, 8, 8);   
        box-sizing: border-box;   
    }
    label {   
        text-align: center;
    } 

 </style>
 <section id="appointment" class="appointment section-bg" style="width:50%; margin-left: 25%; margin-right: 25%;">
    <div class="container">

      <div class="section-title">
        <br>
        <br>
        <br>
        <h2>Login</h2>
       
      </div>

      <form method="POST" id ="appointment-form"  class="php-email-form" >
        {% csrf_token %}
        <!-- <div class="row"> -->
          <div class="col-md-12 form-group mt-3">
            <!-- <label for="username"> Please enter email</label> -->
            <input type="text" name="username" class="form-control datepicker" id="id_username" placeholder="email" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
        
          </div>
          <div class="col-md-12 form-group mt-3">
            <!-- <label for="password"> Please enter password</label> -->
            <input type="password" name="password" class="form-control datepicker"  placeholder="password" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            
          <!-- </div> -->
          
                <br>
                <br>
        <div class="text-center"><button type="submit" value="Login">Login</button></div>
     <a style='margin-right: 5%;'  href="{% url 'patient-register' %}">Patient Registration</a>
     <a style='margin-left: 63%;'  href="{% url 'doctor-register' %}">Doctor Registration</a>
      </form>
    </div>
  </section>
  {% endblock %}