 <!-- ======= Appointment Section ======= -->
 {% extends 'homepage/base_calendar.html' %}
 {% block content %}
 <section id="appointment" class="appointment section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Make an Appointment</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <form method="POST" id ="appointment-form"  class="php-email-form" data-specialties-url="{% url 'ajax_load_specialties' %}", data-doctors-url="{% url 'ajax_load_doctors' %}" >
        {% csrf_token %}
        <div class="row">
          <div class="col-md-2 form-group mt-3">
            <label for="date"> Please select a date</label>
            <input type="date" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-2 form-group mt-3">
            <label for="time"> Please select a time</label>
            <input type="time" min="05:00" step="900" name="time" class="form-control datepicker" id="date" placeholder="Please enter time" data-rule="minlen:4"  data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-2 form-group mt-3">
            <label for="location"> Please select a location</label>
            <select name="location" class="form-select" id="location" placeholder="Please enter time" data-rule="minlen:4"  data-msg="Please enter at least 4 chars"> 
              <option disabled value="">Location</option>
              <option value="New York, NY">New York, NY</option>
              <option value="Brooklyn, NY">Brooklyn, NY</option>  
              <option value="Jersey City, NJ">Jersey City, NJ</option>
            </select>
            <div class="validate"></div>
          </div>
          <div class="col-md-2 form-group mt-3">
            <label for="department">Please select department</label>
            <select name="department" id="department" class="form-select">
              <option value="Cardiology"> Cardiology </option>
              <option value="Neurology">  Neurology </option>
              <option value="Pathology">  Pathology </option>
              <option value="Ophthalmology"> Ophthalmology </option>
              <option value="Internal Medicine"> Internal Medicine </option>
              <option value="Dermatology"> Dermatology </option>
            </select>
            <div class="validate"></div>
          </div>
          <div class="col-md-3 form-group mt-3">
            <label for="doctor">Please select your preferred doctor</label>
            <select name="doctor" id="doctor" class="form-select">
              <option value="">Select Doctor</option>
              <option value="Doctor 1">Doctor 1</option>
              <option value="Doctor 2">Doctor 2</option>
              <option value="Doctor 3">Doctor 3</option>
            </select>
            <div class="validate"></div>
          </div>
        </div>

        <div class="form-group mt-3">
          <textarea class="form-control" name="reason_for_appointment" rows="5" placeholder="Reason for visit"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Make an Appointment</button></div>
      </form>
      
      <script>
        $("#location").change(function () {
          var url = $("#appointment-form").attr('data-specialties-url');  // get the url of the `load_cities` view
          var location = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'location': location      // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#department").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$("#department").change(function () {
          var url = $("#appointment-form").attr('data-doctors-url');  // get the url of the `load_cities` view
          var specialty = $(this).val(); 
          var location = $("#location").val();// get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'specialty': specialty,
              'location':location      // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#doctor").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });



      </script>
      

    </div>
  </section>
  {% endblock %}