<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clearance Wishlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="container-fluid" style='height: 100%; text-align: right;' id="grad1">
    <a style="color: black;" href="{% url 'logout' %}"><b>Logout</b></a>
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3" style="width: fit-content;">
                <h2><strong>{{user.first_name}} Dashboard </strong></h2>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form method="POST" id="msform">
                            {% csrf_token %}
                            <!-- progressbar -->
                            <fieldset >
                                <div class="form-card" style="width: fit-content; margin: 0%;">
                                    <div class="table_page table-responsive">
                                    <table style="width:100%; overflow: hidden;">
                                        <thead>
                                            <tr>
                                                <th>Customer</th>
                                                <th>Email</th>
                                                <th>Phone #</th>
                                                <th>Orders</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for customer in customers %}
                                            <tr>
                                                <td>{{customer.first_name}} {{customer.last_name}}</td>
                                                <td><a href = "mailto: {{customer.email}}">{{customer.email}}</a></td>
                                                <td><a href="tel:{{customer.phone_number}}">{{customer.phone_number}}</a></td>
                                                <td class='view'><a href="{{customer.get_url}}">{{customer.orders}}</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            </fieldset>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'app.js' %}"></script>
</body>
</html>
    